@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --content-container-width: 500px;
    --article-width: 220px;
    --section-distance: 70px 0;
    --background-purple: hsl(259, 72%, 47%);
    --background-blue: hsl(241, 74.6%, 58.2%);
    --background-white: hsl(0, 0%, 100%);
    --background-grey: hsl(210, 33%, 96%);
    --text-purple: hsl(259, 71%, 46%);
    --text-grey: hsl(0, 0%, 48%);
    --pink: hsl(337, 83%, 60%);
}

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    margin: 0;
    box-sizing: border-box;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* --------------- 2.1 Global Typography ------------------- */

h1, h2, h3, h4 {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 1.7em;
}

h2 {
    padding: 10px;
}

h2, h3 {
    font-size: 1.149em;
}

h2, h4 {
    color: var(--text-purple);
}

h3 {
    padding: 5px 0;
}

h4 {
    font-size: 0.9em;
    padding: 6px 0;
    font-weight: 900;
}

p {
    font-weight: 500;
}

p, li {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

a:link, a:visited {
    color: var(--text-purple);
    text-decoration: none;
}

/* --------------- 2.2 Specific Typography ------------------- */

header p {
    font-size: 17px;
}

header p, header li {
    font-weight: 300;
}

.work-article p {
    margin: 30px 0;
}

.work-article a:link, .work-article a:visited {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 0.05em;
    font-weight: 900;
}

.services-article p {
    font-weight: 300;
    font-size: 9.5px;
    color: var(--text-grey);
    padding: 10px 0;
}

/* ------------------------------- 3. Layout --------------------------------------- */

.content-container {
    flex-basis: 100%;
    width: var(--content-container-width);
    flex-grow: 1;
    flex-shrink: 1;
    padding: var(--section-distance);
    text-align: center;
}

/*Schuine balken*/
.bevel-top {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    /*Kleur wordt hierna per item meegegeven*/
    position: absolute;
    top: -30px;
}

.bevel-white {
    border-bottom: 30px solid var(--background-white);
}

.bevel-grey {
    border-bottom: 30px solid var(--background-grey);
}

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------- */

nav {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    width: 100vw;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 60px;
    justify-content: space-around;
    list-style-type: none;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--background-white);
    background: linear-gradient(to right, var(--background-blue), var(--background-purple));
    padding: 20px 20px 45px 20px;
}

#header-button {
    color: var(--background-white);
    background-color: var(--pink);
    border: 3px;
    border-radius: 27px;
    padding: 16px 27px;
    text-transform: uppercase;
    font-size: 9px;
    box-shadow: 0 2px 5px 0.1px hsl(241, 75%, 50%);
}

.squiggle-top {
    width: 46px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 23px);
}

/* --------------- 4.2 Introduction ------------- */

.hello-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-white);
    position: relative;
}

#question {
    padding: 50px 0 0 0;
}


/* --------------- 4.3 Work ------------- */

.work-section {
    display: flex;
    flex-direction: column;
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background-color: var(--background-grey);
    position: relative;
    padding: var(--section-distance);
}

.work-container {
    display: flex;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.article-left {
    flex-direction: row;
}

.article-right {
    flex-direction: row-reverse;
}

.work-article {
    width: var(--article-width);
}

.article-image {
    width: 50%;
    box-shadow: 0 15px 20px -4px hsla(210, 33%, 20%, 0.3);
}

.squiggle {
    width: 35px;
}

/*Beginstaat lijntje*/
.line {
    background-color: transparent;
    border-top: 0.05em solid var(--text-purple);
    display: inline-block;
    width: 0.75em;
    height: 0.2em;
    transition: all .35s ease-in-out;
}

/*Eindstaat lijntje*/
#link-rolling-stone:hover #line-rolling-stone,
#link-variety:hover #line-variety,
#link-worth:hover #line-worth {
    width: 2em;
}

/* --------------- 4.4 Services ------------- */

.services {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: var(--section-distance);
}

.services-article {
    display: flex;
    flex-direction: column;
    flex-basis: 230px;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: flex-start;
    border: 1px solid var(--background-purple);
    padding: 24px;
    margin: 12px;
}

.services-icon {
    width: 50px;
}

.line-break {
    flex-basis: 100%;
    height: 0;
}